@import "src/@fuse/scss/fuse";
.users-table {
    flex: 1 1 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .mat-header-row {
        min-height: 64px;
    }
}

.search-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.mat-cell-content-center {
    justify-content:center;
}
.mat-table { table-layout: fixed; }
.mat-cell > p {
    white-space: normal;
}
.div-search{
    min-height: 80px;
}
