<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <img src="assets/images/logos/logo.png">
            </div>
            <div class="title">{{ 'FORGOT_PASSWORD.recorver_your_password' | translate }}</div>
            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate *ngIf="wasSendOTP == 1">
                <!-- Send otp -->
                <div *ngIf="wasSendOTP == 1">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'FORGOT_PASSWORD.mobile_number' | translate }}</mat-label>
                        <input matInput formControlName="mobileNumber">
                        <mat-icon matSuffix class="secondary-text">local_phone</mat-icon>
                        <mat-error *ngIf="forgotPasswordForm.get('mobileNumber').hasError('required')">
                            {{ 'FORGOT_PASSWORD.required_mobile_number' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Button to send otp to mobile number-->
                <button *ngIf="wasSendOTP == 1" mat-raised-button class="submit-button" color="accent" (click)="sendOtp()">
                    {{ 'FORGOT_PASSWORD.send' | translate }}
                </button>

                <button mat-raised-button class="submit-button" color="accent" [routerLink]="'/auth/login'">
                    {{ 'FORGOT_PASSWORD.back_to_login' | translate }}
                </button>
            </form>
            <form name="sendOTPForm" [formGroup]="sendOTPForm" *ngIf="wasSendOTP == 2 && !wasSentPassword" novalidate>
                    <!-- Send password -->
                    <div *ngIf="wasSendOTP == 2 && !wasSentPassword" fxLayout="row" fxLayoutAlign="center center">
                        <b>{{ 'FORGOT_PASSWORD.otp_was_sent' | translate }} {{forgotPasswordForm.value?.mobileNumber}}</b>
                    </div>
                    <mat-form-field *ngIf="wasSendOTP == 2 && !wasSentPassword" appearance="outline">
                        <mat-label>{{ 'FORGOT_PASSWORD.code_received_on_phone' | translate }}</mat-label>
                        <input matInput formControlName="otp">
                        <mat-error *ngIf="sendOTPForm.get('otp').hasError('required')">
                            {{ 'FORGOT_PASSWORD.required_otp' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!-- Button to send password to mobilenumber-->
                    <button *ngIf="wasSendOTP == 2 && !wasSentPassword" mat-raised-button class="submit-button" color="accent"
                        (click)="sendPassword()">
                        {{ 'FORGOT_PASSWORD.send_otp' | translate }}
                    </button>
                    <button *ngIf="wasSendOTP == 2 && !wasSentPassword" mat-raised-button class="submit-button" color="accent"
                        (click)="sendOtp()" [disabled]="countDown > 0">
                        {{ 'FORGOT_PASSWORD.resend_otp' | translate }} &nbsp;({{ countDown }}s)
                    </button>
    
                    <button mat-raised-button class="submit-button" color="accent" [routerLink]="'/auth/login'">
                        {{ 'FORGOT_PASSWORD.back_to_login' | translate }}
                    </button>
            </form>
            <form name="updatepasswordForm" [formGroup]="updatepasswordForm" *ngIf="wasSendOTP == 3" novalidate>        
                        <div *ngIf="wasSendOTP == 3">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'FORGOT_PASSWORD.new_password' | translate }}</mat-label>
                                <input matInput formControlName="password" type="password">
                                <mat-error *ngIf="updatepasswordForm.get('password').hasError('required')">
                                    {{ 'FORGOT_PASSWORD.new_password' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'FORGOT_PASSWORD.confirm_Password' | translate }}</mat-label>
                                <input matInput formControlName="confirmPassword" type="password">
                                <mat-error *ngIf="updatepasswordForm.get('confirmPassword').hasError('required')">
                                    {{ 'FORGOT_PASSWORD.confirm_Password' | translate }}
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button class="submit-button" color="accent"
                                (click)="updatePassword()">
                                {{ 'FORGOT_PASSWORD.send_password' | translate }}
                            </button>
                        </div>
        
                        <button mat-raised-button class="submit-button" color="accent" [routerLink]="'/auth/login'">
                            {{ 'FORGOT_PASSWORD.back_to_login' | translate }}
                        </button>
            </form>
        </div>
    </div>
</div>