<h1 mat-dialog-title [translate]="'CHANGE_PASSWORD.TITLE'"></h1>
<div mat-dialog-content fxLayout="column">
    <form name="changePassWordForm" [formGroup]="changePassWordForm" novalidate>
        <div fxLayout="column">
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'CHANGE_PASSWORD.OLD_PASSWORD'"></mat-label>
                    <input matInput type="password" formControlName="oldPassword" [(ngModel)]="changePassword.OldPassword">
                    <mat-error *ngIf="changePassWordForm.get('oldPassword').hasError('required')" [translate]="'CHANGE_PASSWORD.OLD_PASSWORD_IS_REQUIRED'">
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'CHANGE_PASSWORD.NEW_PASSWORD'"></mat-label>
                    <input matInput type="password" formControlName="newPassword" [(ngModel)]="changePassword.NewPassword">
                    <mat-error *ngIf="changePassWordForm.get('newPassword').hasError('required')" [translate]="'CHANGE_PASSWORD.NEW_PASSWORD_IS_REQUIRED'">
                    </mat-error>
                    <mat-error *ngIf="changePassWordForm.get('newPassword').hasError('mustNotMatch')" [translate]="'CHANGE_PASSWORD.MUST_DIFFERENCE_OLD_PASSWORD'">
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field appearance="outline">
                    <mat-label [translate]="'CHANGE_PASSWORD.CONFIRM_PASSWORD'"></mat-label>
                    <input matInput type="password" formControlName="confirmPassword" [(ngModel)]="changePassword.ConfirmPassword">
                    <mat-error *ngIf="changePassWordForm.get('confirmPassword').hasError('required')" [translate]="'CHANGE_PASSWORD.CONFIRM_PASSWORD_IS_REQUIRED'">
                        </mat-error>
                    <mat-error *ngIf="changePassWordForm.get('confirmPassword').hasError('mustMatch')" [translate]="'CHANGE_PASSWORD.CONFIRM_PASSWORD_DO_NOT_MATCH'">
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <a mat-button mat-dialog-close fxLayoutAlign="start center" (click)="onClose()">{{ 'COMMON.CLOSE' | translate }}</a>
    <a mat-raised-button color="accent" class="submit-button" fxLayoutAlign="end center" (click)="onSubmit()">{{ 'COMMON.SAVE' | translate }}</a>
</div>
