<h1 mat-dialog-title *ngIf="data.id">{{ 'commune.edit_commune' | translate }}</h1>
<h1 mat-dialog-title *ngIf="!data.id">{{ 'commune.new_commune' | translate }}</h1>
<div mat-dialog-content fxLayout="column">
    <form name="communeDetaiForm" novalidate>
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center" class="form-with">
                <mat-form-field appearance="outline" floatLabel="always" fxFlex="100" class="pr-4">
                    <mat-label>{{ 'commune.commune_name' | translate }}</mat-label>
                    <input type="text" placeholder="{{ 'commune.commune_name' | translate }}" [formControl]="nameControl" matInput [(ngModel)]="communeDetail.Name">
                    <mat-error>
                            {{ 'commune.error_commune_name_required' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-form-field appearance="outline" floatLabel="always" class="example-form form-with">
                <mat-label>{{ 'commune.district_name' | translate }}</mat-label>
                <input type="text" placeholder="{{ 'commune.choose_district' | translate }}" matInput [formControl]="districtControl" [matAutocomplete]="autodistrict" [(ngModel)]="communeDetail.DistrictName">
                <mat-autocomplete #autodistrict="matAutocomplete">
                    <mat-optgroup *ngFor="let province of filteredProvinces | async" [label]="province.ProvinceName">
                        <mat-option *ngFor="let district of province.Districts " class="option-title" [value]="district.DistrictName">
                          {{district.DistrictName}}
                        </mat-option>
                      </mat-optgroup>
                </mat-autocomplete>
                <mat-error>
                        {{ 'commune.error_district_name_required' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <a mat-button mat-dialog-close fxLayoutAlign="start center" (click)="onClose()">{{ 'commune.close' | translate }}</a>
    <a mat-raised-button color="accent" class="submit-button" fxLayoutAlign="end center" (click)="saveDistrict()">{{ 'commune.save' | translate }}</a>
</div>
